.hm-background-SVG {
  background: url("./homePageBackground.svg") center / cover no-repeat;
  position: fixed;
  inset: 0;
  z-index: -1;
}

.hm-page {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
