.register-prompt-background {
  width: 30vw;
  height: 35vh;
  background-color: grey;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-error {
  color: red;
  font-size: 1vw;
  margin: 0;
}

input {
  width: 15vw;
  height: 3vh;
  border-radius: 5%;
  border: none;
  padding: 0.5vw;
  font-size: 1.2vw;
}

.register-prompt-container form {
  width: 30vw;
  height: 30vh;
  border-radius: 10%;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.password-wrapper {
  position: relative;
}

.password-wrapper .password-error {
  position: absolute;
  top: 100%;
  left: 0;
}

.error:nth-of-type(2) {
  margin-top: 1vh;
}

.submit-button {
  margin-top: 1vh;
}

.register-prompt-container {
  position: relative;
}

.register-prompt-container .register-X-button {
  position: absolute;
  right: 0;
  top: -2.4vh;
  width: 6vh;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  font-size: 1.2vw;
  border-radius: 10%;
}
