.userPage-container {
  width: 60vw;
  aspect-ratio: 3/2;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userPage-chat-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 70px 2fr 5fr;
}
