.chat-content {
  background-color: white;
  display: grid;
  grid-template-rows: 60px 3fr 1fr;
  height: 40vw;
}

.message-header {
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
}

.message-header h2 {
  margin-left: 15px;
  caret-color: transparent;
}

.message-content {
  overflow-y: auto;
  height: 100%;
  min-height: 0;
  border-bottom: 1px solid grey;
}

.message-input {
  display: grid;
  grid-template-rows: 40px 3fr 50px;
}

.message-input-tool {
  display: flex;
  border: 1px solid black;
  align-items: center;
}

.emoji {
  background-image: url("src/assets/userpage/chat-tool/emoji.png");
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.file {
  background-image: url("src/assets/userpage/chat-tool/file.png");
  background-size: cover;
  background-position: center;
  width: 35px;
  height: 35px;
}

.history {
  background-image: url("src/assets/userpage/chat-tool/history.png");
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
}

.chat-initial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chat-initial-img {
  width: 100%;
  height: 100%;
}

.message-input-submit button {
  position: absolute;
  right: 20px;
  bottom: 5px;
  width: 100px;
  background-color: lightgray;
  border: 1px solid grey;
  color: green;
}

.message-input-textinput textarea {
  width: 100%;
  height: 100%;
  margin: 0px;
  border-radius: 0;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 16px;
  line-height: 1.4;
  overflow-y: auto;
  outline: none;
  border: none;
}

.message-input-textinput textarea:focus {
  outline: none;
  border: none;
}

.message-time {
  font-size: 10px;
  background-color: lightgray;
  width: fit-content;
}

.friend-message {
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
  background-color: lightgrey;
  color: black;
  padding: 8px 12px;
  max-width: 60%;
  border-radius: 10px; /* rounded bubble */
  width: fit-content; /* shrink to content */
}

.my-message {
  text-align: right;
  margin-right: 10px;
  font-size: 16px;
  background-color: lightgreen;
  color: black;
  padding: 8px 12px;
  max-width: 60%;
  border-radius: 10px; /* rounded bubble */
  width: fit-content; /* shrink to content */
}

.friend-message-wrapper {
  display: flex;
  align-items: center;
}

.friend-message-image {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.my-message-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.my-message-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

p {
  user-select: none;
}

.message-time-row {
  width: 100%;
  display: flex;
  justify-content: center;
}
